<form [formGroup]="filterForm">
  <div *ngFor="let field of config.fields">
    <label [for]="field.name">{{ field.label }}</label>
    <ng-container [ngSwitch]="field.type">
      <mat-form-field *ngSwitchCase="FieldType.TEXT" appearance="fill">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" [id]="field.name" type="text" />
      </mat-form-field>

      <mat-form-field *ngSwitchCase="FieldType.SELECT" appearance="fill">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.name" [id]="field.name">
          <mat-option color="primary" *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngSwitchCase="FieldType.CHECKBOX" formArrayName="{{ field.name }}" class="mb-8 mt-4">
        <div class="max-h-60 overflow-auto">
          <div *ngFor="let option of field.options; let i = index">
            <mat-checkbox color="primary" [formControlName]="i" [id]="field.name + option" class="custom-checkbox">{{
              option
            }}</mat-checkbox>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="FieldType.RADIO">
        <div *ngFor="let option of field.options">
          <mat-radio-group [formControlName]="field.name">
            <mat-radio-button color="primary" [id]="field.name + option" [value]="option">{{
              option
            }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngSwitchCase="FieldType.SLIDER" [formGroupName]="field.name">
        <mat-slider [min]="field.min" [max]="field.max" style="width: 100%; margin-bottom: 20px">
          <input value="{{ field.min }}" matSliderStartThumb [formControlName]="'min'" />
          <input value="{{ field.max }}" matSliderEndThumb [formControlName]="'max'" />
        </mat-slider>

        <div class="flex justify-between align-center">
          <div class="mt-2 w-1/3">
            <mat-form-field class="custom-input">
              <mat-label>Min</mat-label>
              <input
                matInput
                type="number"
                (input)="updateSlider($event, field.name, 'min')"
                [value]="filterForm.get(field.name)?.get('min')?.value"
              />
            </mat-form-field>
          </div>
          <div class="mt-2 w-1/3">
            <mat-form-field class="custom-input">
              <mat-label>Max</mat-label>
              <input
                matInput
                type="number"
                (input)="updateSlider($event, field.name, 'max')"
                [value]="filterForm.get(field.name)?.get('max')?.value"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button
    [disabled]="filterForm.pristine && filterForm.valid"
    (click)="resetForm()"
    class="bg-main-green hover:bg-dark-green text-white font-bold py-2 mt-8 rounded flex items-center justify-center w-full cursor-pointer"
  >
    Reset
  </button>
</form>
